:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Tahoma, sans-serif;
  }

  .game-div{
    text-align: center ;
  }

  .label-dificultad {
    margin-right: 0.5em;
  }

  h2 {
    margin-bottom: 20px;
  }
  
  p {
    font-weight: bold;
  }
  
  select {
    margin-right: 10px;
  }
  
  button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .boton-cambiar {
    margin-left: 0.5em
  }

  .boton-terminar {
    margin-right: 0.5em
  }
  
  .contenedor-cartas {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    gap: 10px;
    margin-top: 20px;
    margin-left: 2.5em;
  }
  
  .numero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-size: 24px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .numero.selected {
    background-color: #f0e68c; /* Amarillo claro cuando seleccionado */
  }
  
  .numero.correcto {
    background-color: #98fb98; /* Verde claro cuando acierta */
  }
  
  .numero.erroneo {
    background-color: #ff6347; /* Rojo claro cuando falla */
  }
